<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>true</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <main>
    
<div class='exhibit-meta'>
  <h1 class='exhibit-title'></h1>
  <h3 class='exhibit-author'></h3>
  <p class='exhibit-date' >Published on
    <time datetime=''>
    
    </time>
  </p>
</div>

<p>Women like Elizabeth Sharaf un-Nisa were erased and obscured from official correspondence, baptism records, and other textual sources. In the face of these erasures, <a href="https://unstable-archives.github.io/unstable_archives/unstable_archives/item7/">jewelry</a> and textiles offer historians new and meaningful sources that relate to her life. While these new sources cannot fill in the gaps left by erasures in formal, textual documents, they offer alternative angles to consider productively what she valued enough to preserve.</p>
<p>{% include inline_image.html collection='unstable_archives' pid='item6' %}</p>
<p>In this section of the exhibit, you will find jewelry, a parlor cushion, <a href="https://unstable-archives.github.io/unstable_archives/unstable_archives/item37/">a bolt of gold and silver woven cloth with beetle-wing embroidery</a>, and <a href="https://unstable-archives.github.io/unstable_archives/unstable_archives/item9/">ivory implements used for sewing</a>. A miniature painting of Elizabeth Sharaf un-Nisa shows that she employed a combination of English and Mughal attire.</p>
<p>{% include inline_image.html collection='unstable_archives' pid='item2' %}</p>


  </main>
</body>
</html>
